.App{
  background-color: aquamarine;
  width: 60%;
  height: 200px;
  margin :auto;
  margin-top: 40px;

}
.main{
  text-align: center;
 
}
.timer{
  display: flex;
justify-content: center;
margin-bottom: 30px;
  
}
.time{
  font-size: larger;
}
#start{
  margin-left: 10px;
  margin-right: 10px;
  border:solid blue;
  cursor:pointer;
  padding:8px;

  border-radius: 30%;

}
#reset{

  border:solid blue;
  cursor:pointer;
  padding:8px;
  border-radius: 30%;
}
#pause{

  border:solid blue;
  cursor:pointer;
  padding:8px;  
  border-radius: 30%;
}

